
<div class="container">  
    <br/>
    <h2> <a href="http://geeksarray.com">Geeks Product List</a></h2>  
    <div class="table-responsive">            
        <table class="table table-striped" *ngIf = 'products && products.length' >  
        <thead class="thead-dark">  
            <tr>          
            <th>ProductID</th>  
            <th>ProductName</th>  
            <th>CategoryId</th>         
            <th>AvilableQty</th>  
            <th>ReorderQty</th>         
            </tr>  
        </thead>  
        <tbody>  
            <tr *ngFor = 'let product of products'>  
                <td>{{product.ProductID}}</td>  
                <td>{{product.ProductName}}</td>  
                <td>{{product.CategoryId}}</td>  
                <td>{{product.AvilableQty}}</td>  
                <td>{{product.ReorderQty}}</td>  
            </tr>  
        </tbody>  
        </table>  
    <div>  
  </div>  
</div>